<!-- Nav bar element finally works -->
<div class = "container-flex">
  <div class="navbar navbar-warning">
    <div class="navbar-header">
      <form class="navbar-form navbar-left" role="search">
      
        <a href = "/#/"> <button type="button" class="btn btn-default">New Search</button></a>
      </form>
    </div>
    <span class="navbar-collapse collapse navbar-warning-collapse">
      <form class="navbar-form navbar-left">
        <select ng-model="catSelector"> <!-- ng-options= "pin.cat for pin in pins" Filter pins by category-->

          <option>Category1</option>
          <option>Category2</option>
          <option>Category3</option>
        </select>
        <input class = "filterText" type = "text" placeholder = "Filter Categories"/>
      </form>
    </span>
    <div id="results">
    </div>
  </div>
</div> <!-- close container -->
<!-- End navbar element -->


<div class="row photo">
<!-- Attempting to show the caption, category and pic together in Main Board. -->
    <!-- <blockquote>
      <p ng-repeat = "category in pins">Category: {{pins.cat}}</p>
      <p ng-repeat = "caption in pins"> {{pins.caption}} </p>
    </blockquote> -->
    <div class="col-md-3" ng-repeat="photo in pins"> 
      <a href="#" class="thumbnail">
        <img class="photo" ng-src="{{photo.imgUrl}}"/>
      </a>
    </div>
  
</div>
