    <form class="navbar-form navbar-left">
      <select ng-model="catSelector"> <!-- ng-options= "pin.cat for pin in pins" -->
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <input type="text" class="form-control col-xs-8" placeholder="Search">
    </form>

    <div ng-repeat = "photo in pins" class= "main">
      <div class= "picHere">
      </div>
      <div class= "caption">
      </div>
      <div class= "category">
      </div>
    </div> 


 