
<div class = "container">
	<div class="navbar navbar-warning">
	  <div class="navbar-header">
	    <form class="navbar-form navbar-left" role="search">
  			<div class="form-group">
   			 <input type="text" class="form-control" placeholder="Search" ng-model="input.url">
 				</div>
  				<button type="button" ng-click="click()"class="btn btn-default">Search</button>
  				<button href = "#/main" type="button" ng-click="click()"class="btn btn-default">See Pins</button>

			</form>
	  </div>
	  <span class="navbar-collapse collapse navbar-warning-collapse">
	   
	  </span>
	  <div id="results">
		</div>
	</div>
</div> <!-- close container -->

<div class="row">
  <div class="col-md-3" ng-repeat="photo in photos"> 
    <div href="#" class="thumbnail"  ng-click="pinIt(photo)">
      <img class="photo" ng-src="{{photo.url_o}}"/>
    </div>
  </div>
</div>
