<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search" ng-model="input.url">
  </div>
  <button type="button" class="btn btn-default" ng-click="click()">Search</button>
  <button type="button" class="btn btn-default navbar-btn">Pins</button>
</form>


<div class="row">
  <div class="col-md-3" ng-repeat="photo in pins"> 
    <div href="#" class="thumbnail">
      <img class="photo" ng-src="{{photo.imgUrl}}"/>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-3" ng-repeat="photo in photos"> 
    <div href="#" class="thumbnail"  ng-click="pinIt(photo)">
      <img class="photo" ng-src="{{photo.url_o}}"/>
    </div>
  </div>
</div>
