
<div class = "container-flex">
	<div class="navbar navbar-warning">
		<div class="navbar-header">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" ng-model="input.url">
				</div>
				<button type="button" ng-click="click()"class="btn btn-default">Search</button>
				<a href = "/#/main"> <button type="button" class="btn btn-default">See Pins</button></a>
			</form>
		</div>
		<span class="navbar-collapse collapse navbar-warning-collapse"> </span>
				<div id="results">
					
				</div>
	</div>
</div> <!-- close container -->

		<!-- Attempting to have two text fields show up with each searched picture. See second screen shot-->
<form = "enterInfoForm">
	<blockquote>
      <p ng-repeat = "category in pins.category">
      Category: {{pins.cat}}</p>
      <p ng-repeat = "caption in pins.caption"> {{pins.caption}} </p>
   </blockquote>
	<div class="row">
	 	<input type = "text" name = "caption" ng-model= "caption"> 
	  <input type = "text" name = "category" ng-model= "category"> 
	  
	  <div class="col-md-3" ng-repeat="photo in photos"> 
	    <div href="#" class="thumbnail"  ng-click="pinIt(photo)">
	      <img class="photo" ng-src="{{photo.url_o}}"/>
	   	</div> 
	   </div>
	   <button type ="submit" ng-submit = "pinsNsearch.pinIt">Pin it!</button>
	  </div>
	</div>
</form>



  